{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onclick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span> </button>
        <!-- this is THE first time where despite
        showing errors the program still runs!! KUDOS -->
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>

<script>
    function deleteNote(noteID) {
        fetch('/delete-note', {
            method: "POST",
            body: JSON.stringify({ noteID: noteID }),
        }).then((_res) => {
            window.location.href = "/";
        });
    }
</script>
{% endblock %}